.blogsBackground{
	background: none repeat scroll 0 0 #F2F2F2;
	clear: both;
	padding: 3em 3em 1em;
}
.blogsBackground a h5{
	margin:0px; 
	padding:0px;
}
.body-blog{
	display:none;
}
.body-blog h3.title{
	margin-top:0px;
	font-weight: bold;
	font-size:35px;
}
.blogNav .blogsBackground{
	padding-top:10px;
}
.prev{
	display:none;color:#666666;
	border:2px solid #a1a1a1;
	padding:5px 5px; 
	background:#dddddd;
	border-radius:5px;
}
.next{
	display:none;
	color:#666666;;
	border:2px solid #a1a1a1;
	padding:5px 5px; 
	background:#dddddd;
	border-radius:5px;margin-left:20px;
}
.head-blog{
	display:block;
	padding:3px;
}
.head-blog .date{
	display:inline-block;
	width:100px;
}
.ui-icon-circle-arrow-e{
	background:url('images/left-arrow-bullet.png') 0px 1px no-repeat;
	display:inline-block;
	height:15px;
	width:15px;
}