[class^="flag-16-"],
[class*=" flag-16-"]
{
  background-image: url('../flags-16-sprite.png');
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 0px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-position: 16px 16px;
  background-repeat: no-repeat;
}
.flag-16-AD{ background-position: 0 0; }
.flag-16-AE{ background-position: 0 -17px; }
.flag-16-AF{ background-position: 0 -34px; }
.flag-16-AG{ background-position: 0 -51px; }
.flag-16-AI{ background-position: 0 -68px; }
.flag-16-AL{ background-position: 0 -85px; }
.flag-16-AM{ background-position: 0 -102px; }
.flag-16-AN{ background-position: 0 -119px; }
.flag-16-AO{ background-position: 0 -136px; }
.flag-16-AQ{ background-position: 0 -153px; }
.flag-16-AR{ background-position: 0 -170px; }
.flag-16-AS{ background-position: 0 -187px; }
.flag-16-AT{ background-position: 0 -204px; }
.flag-16-AU{ background-position: 0 -221px; }
.flag-16-AW{ background-position: 0 -238px; }
.flag-16-AX{ background-position: 0 -255px; }
.flag-16-AZ{ background-position: 0 -272px; }
.flag-16-BA{ background-position: 0 -289px; }
.flag-16-BB{ background-position: 0 -306px; }
.flag-16-BD{ background-position: 0 -323px; }
.flag-16-BE{ background-position: 0 -340px; }
.flag-16-BF{ background-position: 0 -357px; }
.flag-16-BG{ background-position: 0 -374px; }
.flag-16-BH{ background-position: 0 -391px; }
.flag-16-BI{ background-position: 0 -408px; }
.flag-16-BJ{ background-position: 0 -425px; }
.flag-16-BL{ background-position: 0 -442px; }
.flag-16-BM{ background-position: 0 -459px; }
.flag-16-BN{ background-position: 0 -476px; }
.flag-16-BO{ background-position: 0 -493px; }
.flag-16-BR{ background-position: 0 -510px; }
.flag-16-BS{ background-position: 0 -527px; }
.flag-16-BT{ background-position: 0 -544px; }
.flag-16-BW{ background-position: 0 -561px; }
.flag-16-BY{ background-position: 0 -578px; }
.flag-16-BZ{ background-position: 0 -595px; }
.flag-16-CA{ background-position: 0 -612px; }
.flag-16-CC{ background-position: 0 -629px; }
.flag-16-CD{ background-position: 0 -646px; }
.flag-16-CF{ background-position: 0 -663px; }
.flag-16-CG{ background-position: 0 -680px; }
.flag-16-CH{ background-position: 0 -697px; }
.flag-16-CI{ background-position: 0 -714px; }
.flag-16-CK{ background-position: 0 -731px; }
.flag-16-CL{ background-position: 0 -748px; }
.flag-16-CM{ background-position: 0 -765px; }
.flag-16-CN{ background-position: 0 -782px; }
.flag-16-CO{ background-position: 0 -799px; }
.flag-16-CR{ background-position: 0 -816px; }
.flag-16-CU{ background-position: 0 -833px; }
.flag-16-CV{ background-position: 0 -850px; }
.flag-16-CW{ background-position: 0 -867px; }
.flag-16-CX{ background-position: 0 -884px; }
.flag-16-CY{ background-position: 0 -901px; }
.flag-16-CZ{ background-position: 0 -918px; }
.flag-16-DE{ background-position: 0 -935px; }
.flag-16-DJ{ background-position: 0 -952px; }
.flag-16-DK{ background-position: 0 -969px; }
.flag-16-DM{ background-position: 0 -986px; }
.flag-16-DO{ background-position: 0 -1003px; }
.flag-16-DZ{ background-position: 0 -1020px; }
.flag-16-EC{ background-position: 0 -1037px; }
.flag-16-EE{ background-position: 0 -1054px; }
.flag-16-EG{ background-position: 0 -1071px; }
.flag-16-EH{ background-position: 0 -1088px; }
.flag-16-ER{ background-position: 0 -1105px; }
.flag-16-ES{ background-position: 0 -1122px; }
.flag-16-ET{ background-position: 0 -1139px; }
.flag-16-EU{ background-position: 0 -1156px; }
.flag-16-FI{ background-position: 0 -1173px; }
.flag-16-FJ{ background-position: 0 -1190px; }
.flag-16-FK{ background-position: 0 -1207px; }
.flag-16-FM{ background-position: 0 -1224px; }
.flag-16-FO{ background-position: 0 -1241px; }
.flag-16-FR{ background-position: 0 -1258px; }
.flag-16-GA{ background-position: 0 -1275px; }
.flag-16-GB{ background-position: 0 -1292px; }
.flag-16-GD{ background-position: 0 -1309px; }
.flag-16-GE{ background-position: 0 -1326px; }
.flag-16-GG{ background-position: 0 -1343px; }
.flag-16-GH{ background-position: 0 -1360px; }
.flag-16-GI{ background-position: 0 -1377px; }
.flag-16-GL{ background-position: 0 -1394px; }
.flag-16-GM{ background-position: 0 -1411px; }
.flag-16-GN{ background-position: 0 -1428px; }
.flag-16-GQ{ background-position: 0 -1445px; }
.flag-16-GR{ background-position: 0 -1462px; }
.flag-16-GS{ background-position: 0 -1479px; }
.flag-16-GT{ background-position: 0 -1496px; }
.flag-16-GU{ background-position: 0 -1513px; }
.flag-16-GW{ background-position: 0 -1530px; }
.flag-16-GY{ background-position: 0 -1547px; }
.flag-16-HK{ background-position: 0 -1564px; }
.flag-16-HN{ background-position: 0 -1581px; }
.flag-16-HR{ background-position: 0 -1598px; }
.flag-16-HT{ background-position: 0 -1615px; }
.flag-16-HU{ background-position: 0 -1632px; }
.flag-16-IC{ background-position: 0 -1649px; }
.flag-16-ID{ background-position: 0 -1666px; }
.flag-16-IE{ background-position: 0 -1683px; }
.flag-16-IL{ background-position: 0 -1700px; }
.flag-16-IM{ background-position: 0 -1717px; }
.flag-16-IN{ background-position: 0 -1734px; }
.flag-16-IQ{ background-position: 0 -1751px; }
.flag-16-IR{ background-position: 0 -1768px; }
.flag-16-IS{ background-position: 0 -1785px; }
.flag-16-IT{ background-position: 0 -1802px; }
.flag-16-JE{ background-position: 0 -1819px; }
.flag-16-JM{ background-position: 0 -1836px; }
.flag-16-JO{ background-position: 0 -1853px; }
.flag-16-JP{ background-position: 0 -1870px; }
.flag-16-KE{ background-position: 0 -1887px; }
.flag-16-KG{ background-position: 0 -1904px; }
.flag-16-KH{ background-position: 0 -1921px; }
.flag-16-KI{ background-position: 0 -1938px; }
.flag-16-KM{ background-position: 0 -1955px; }
.flag-16-KN{ background-position: 0 -1972px; }
.flag-16-KP{ background-position: 0 -1989px; }
.flag-16-KR{ background-position: -17px 0; }
.flag-16-KW{ background-position: -17px -17px; }
.flag-16-KY{ background-position: -17px -34px; }
.flag-16-KZ{ background-position: -17px -51px; }
.flag-16-LA{ background-position: -17px -68px; }
.flag-16-LB{ background-position: -17px -85px; }
.flag-16-LC{ background-position: -17px -102px; }
.flag-16-LI{ background-position: -17px -119px; }
.flag-16-LK{ background-position: -17px -136px; }
.flag-16-LR{ background-position: -17px -153px; }
.flag-16-LS{ background-position: -17px -170px; }
.flag-16-LT{ background-position: -17px -187px; }
.flag-16-LU{ background-position: -17px -204px; }
.flag-16-LV{ background-position: -17px -221px; }
.flag-16-LY{ background-position: -17px -238px; }
.flag-16-MA{ background-position: -17px -255px; }
.flag-16-MC{ background-position: -17px -272px; }
.flag-16-MD{ background-position: -17px -289px; }
.flag-16-ME{ background-position: -17px -306px; }
.flag-16-MF{ background-position: -17px -323px; }
.flag-16-MG{ background-position: -17px -340px; }
.flag-16-MH{ background-position: -17px -357px; }
.flag-16-MK{ background-position: -17px -374px; }
.flag-16-ML{ background-position: -17px -391px; }
.flag-16-MM{ background-position: -17px -408px; }
.flag-16-MN{ background-position: -17px -425px; }
.flag-16-MO{ background-position: -17px -442px; }
.flag-16-MP{ background-position: -17px -459px; }
.flag-16-MQ{ background-position: -17px -476px; }
.flag-16-MR{ background-position: -17px -493px; }
.flag-16-MS{ background-position: -17px -510px; }
.flag-16-MT{ background-position: -17px -527px; }
.flag-16-MU{ background-position: -17px -544px; }
.flag-16-MV{ background-position: -17px -561px; }
.flag-16-MW{ background-position: -17px -578px; }
.flag-16-MX{ background-position: -17px -595px; }
.flag-16-MY{ background-position: -17px -612px; }
.flag-16-MZ{ background-position: -17px -629px; }
.flag-16-NA{ background-position: -17px -646px; }
.flag-16-NC{ background-position: -17px -663px; }
.flag-16-NE{ background-position: -17px -680px; }
.flag-16-NF{ background-position: -17px -697px; }
.flag-16-NG{ background-position: -17px -714px; }
.flag-16-NI{ background-position: -17px -731px; }
.flag-16-NL{ background-position: -17px -748px; }
.flag-16-NO{ background-position: -17px -765px; }
.flag-16-NP{ background-position: -17px -782px; }
.flag-16-NR{ background-position: -17px -799px; }
.flag-16-NU{ background-position: -17px -816px; }
.flag-16-NZ{ background-position: -17px -833px; }
.flag-16-OM{ background-position: -17px -850px; }
.flag-16-PA{ background-position: -17px -867px; }
.flag-16-PE{ background-position: -17px -884px; }
.flag-16-PF{ background-position: -17px -901px; }
.flag-16-PG{ background-position: -17px -918px; }
.flag-16-PH{ background-position: -17px -935px; }
.flag-16-PK{ background-position: -17px -952px; }
.flag-16-PL{ background-position: -17px -969px; }
.flag-16-PN{ background-position: -17px -986px; }
.flag-16-PR{ background-position: -17px -1003px; }
.flag-16-PS{ background-position: -17px -1020px; }
.flag-16-PT{ background-position: -17px -1037px; }
.flag-16-PW{ background-position: -17px -1054px; }
.flag-16-PY{ background-position: -17px -1071px; }
.flag-16-QA{ background-position: -17px -1088px; }
.flag-16-RO{ background-position: -17px -1105px; }
.flag-16-RS{ background-position: -17px -1122px; }
.flag-16-RU{ background-position: -17px -1139px; }
.flag-16-RW{ background-position: -17px -1156px; }
.flag-16-SA{ background-position: -17px -1173px; }
.flag-16-SB{ background-position: -17px -1190px; }
.flag-16-SC{ background-position: -17px -1207px; }
.flag-16-SD{ background-position: -17px -1224px; }
.flag-16-SE{ background-position: -17px -1241px; }
.flag-16-SG{ background-position: -17px -1258px; }
.flag-16-SH{ background-position: -17px -1275px; }
.flag-16-SI{ background-position: -17px -1292px; }
.flag-16-SK{ background-position: -17px -1309px; }
.flag-16-SL{ background-position: -17px -1326px; }
.flag-16-SM{ background-position: -17px -1343px; }
.flag-16-SN{ background-position: -17px -1360px; }
.flag-16-SO{ background-position: -17px -1377px; }
.flag-16-SR{ background-position: -17px -1394px; }
.flag-16-SS{ background-position: -17px -1411px; }
.flag-16-ST{ background-position: -17px -1428px; }
.flag-16-SV{ background-position: -17px -1445px; }
.flag-16-SY{ background-position: -17px -1462px; }
.flag-16-SZ{ background-position: -17px -1479px; }
.flag-16-TC{ background-position: -17px -1496px; }
.flag-16-TD{ background-position: -17px -1513px; }
.flag-16-TF{ background-position: -17px -1530px; }
.flag-16-TG{ background-position: -17px -1547px; }
.flag-16-TH{ background-position: -17px -1564px; }
.flag-16-TJ{ background-position: -17px -1581px; }
.flag-16-TK{ background-position: -17px -1598px; }
.flag-16-TL{ background-position: -17px -1615px; }
.flag-16-TM{ background-position: -17px -1632px; }
.flag-16-TN{ background-position: -17px -1649px; }
.flag-16-TO{ background-position: -17px -1666px; }
.flag-16-TR{ background-position: -17px -1683px; }
.flag-16-TT{ background-position: -17px -1700px; }
.flag-16-TV{ background-position: -17px -1717px; }
.flag-16-TW{ background-position: -17px -1734px; }
.flag-16-TZ{ background-position: -17px -1751px; }
.flag-16-UA{ background-position: -17px -1768px; }
.flag-16-UG{ background-position: -17px -1785px; }
.flag-16-US{ background-position: -17px -1802px; }
.flag-16-UY{ background-position: -17px -1819px; }
.flag-16-UZ{ background-position: -17px -1836px; }
.flag-16-VA{ background-position: -17px -1853px; }
.flag-16-VC{ background-position: -17px -1870px; }
.flag-16-VE{ background-position: -17px -1887px; }
.flag-16-VG{ background-position: -17px -1904px; }
.flag-16-VI{ background-position: -17px -1921px; }
.flag-16-VN{ background-position: -17px -1938px; }
.flag-16-VU{ background-position: -17px -1955px; }
.flag-16-WF{ background-position: -17px -1972px; }
.flag-16-WS{ background-position: -17px -1989px; }
.flag-16-YE{ background-position: -34px 0; }
.flag-16-YT{ background-position: -34px -17px; }
.flag-16-ZA{ background-position: -34px -34px; }
.flag-16-ZM{ background-position: -34px -51px; }
.flag-16-ZW{ background-position: -34px -68px; }