/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    /*  background-image: url("../images/gridtile.png");*/
    
    background-repeat: repeat;
    background-color: black;
   background-image: url('../images/bigMapBg.jpg');
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
}
#topRow {
    background-image: url("../images/line.png");
    height: 26px;
    background-position: top right;
    background-color: #E45785;
    background-repeat: no-repeat;
}
#middleContainer {
    float: right;
    text-align: center;
    width: 100%;
    position: relative;
    height: 100%;
    padding-bottom: 100px;
}
#mapContainer {
    height: 100%;
    padding-left: 340px;
}
#middleContainer #map {
    position: relative;
    z-index: 99999;
    height: 100%;
    width: 100%;
}
#container {
    width: 100%;
    position: relative;
    height: 100%;
    padding: 0px;
    background-repeat: no-repeat;
    font-family: 'din';
    overflow: hidden;
}
#mapContainer * {
    /* For Safari 3.1 to 6.0 */
    
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    /* Standard syntax */
    
    transition-duration: 0.5s;
    transition-timing-function: linear;
    -webkit-transition-property: none;
    transition-property: none;
    background-repeat: no-repeat;
}
#titleRow {
    background-color: #fff;
    position: relative;
    z-index: 999;
    padding: 0px 0px 0px 40px;
    line-height: 65px;
    color: #333;
    /* For IE8 and earlier */
}
#spotLightImg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 150px;
    top: -110px
}
#titleLogo {
    clear: both;
    padding-top: 5px;
    width: 13.5em;
}
#logoContainer {
    float: left;
    line-height: 10px;
    letter-spacing: 1px;
    margin: 10px;
}
#titleContainer #titleText {
    float: left;
    line-height: 1.5em;
    font-size: 1.1em;
    padding: 22px 0px 0px 62px;
    letter-spacing: 0.5em;
}
#logoContainer span, #logoContainer h2 {
    font-size: 0.6em;
    float: left;
    padding-left: 3px;
}
#cp_logo {
    width: 10em;
    margin: 20px 40px 0px 0px;
    position: absolute;
    right: 10px;
}
#titleContainer {
    width: 100%;
    display: inline-block;
    line-height: 3.6em;
    padding-top: 5px;
    letter-spacing: 4px;
    font-size: 1.1em;
    font-family: 'dinLight';
    float: left;
}
#verticalCol {
    position: fixed;
    height: 100%;
    z-index: 99;
    top: 26px;
    width: 310px;
}
#verticalColInnerContainer {
    float: right;
    background-color: rgba(51, 51, 51, 0.5);
    height: 100%;
    width: 14em;
}
#verticalCol hr {
    margin: 0px;
    border-color: #63233d;
}
#middleRow {
    height: 100%;
}
.pinkBorder, .pinkBorder * {
    border-color: #63233d;
    border-style: solid;
    border-width: 0px;
}
h1, h2, h3 {
    margin: 0px;
    padding: 0px;
}
#verticalCol #AttacksCountContainer {
    padding: 7px;
    border-bottom-width: 1px;
    margin: 80px 0px 0px 0px;
}
#verticalCol #AttacksCountContainer h4,
#verticalCol #AttacksCountContainer h2,
#verticalCol #AttacksCountContainer h3 {
    font-size: 1.625em;
    font-family: 'dinLight';
}
#verticalCol #AttacksCountContainer h4 strong,
#verticalCol #AttacksCountContainer h2 strong,
#verticalCol #AttacksCountContainer h3 strong {
    margin-top: 5px;
    font-size: 1.38em;
    display: block;
    font-weight: bold;
    font-family: 'dinBold';
}
#verticalCol .TopStats {
    color: #fff;
    cursor: pointer;
    font-family: 'dinLight';
    font-size: 0.9em;
}
#verticalCol .TopStats.active {
    top: 0px;
}
#verticalCol .TopStatsLabel h3 {
    line-height: 21px;
    padding-left: 22px;
}
.pinkText {
    color: #e45785;
}
.fa {
    display: block;
    float: left;
}
#verticalCol .TopStats .TopStatsLabel {
    padding: 5px;
    line-height: 15px;
}
#verticalCol .TopStats.active .TopStatsLabel, #verticalCol .TopStats:hover .TopStatsLabel, #verticalCol .countryList li:hover {
    cursor: pointer;
    background-color: rgba(239, 239, 239, 0.2);
    color: #E45785;
}
#verticalCol .TopStats .statsContainer {
    border-width: 1px;
    width: 218px;
    height: 0px;
    position: relative;
    left: 30px;
    background: url('../images/3dbox.png') 0px 0px no-repeat;
    display: none;
}
#verticalCol .TopStats.active .statsContainer {
    height: 306px;
    display: block;
    float: right;
}
#verticalCol .countryList li:first-child {
    border-top-width: 0px;
}
#verticalCol .countryList li {
    padding-top: 0.46em;
    cursor: default;
    padding-left: 15px;
    font-size: 0.8em;
    margin-top: 1px;
}
#latestAttacksContainer {
    position: absolute;
    bottom: 10px;
    z-index: 999999;
    right: 10px;
    color: #fff;
    font-family: 'din';
}
#latestAttacksContainerLeft {
    float: left;
    height: 6.75em;
    border-width: 1px 0px 1px 1px;
    background-color: #1c1217;
    padding: 0.5em;
    width: 55em;
    overflow: hidden;
}
#latestAttacksContainerRight {
    height: 110px;
    float: left;
    border-width: 0px;
    background: url('../images/smallBox.png') 0px 0px no-repeat;
    width: 150px;
}
#latestAttacksContainerRight > div {
    padding: 15px;
    clear: both;
}
#latestAttacksContainerRight > div span {
    padding-top: 6px;
    display: block;
    float: left;
}
#latestAttacksTimeCol, .timeCol {
    width: 11%;
}
#latestAttacksAttackCol, .attackCol {
    width: 35%;
}
#latestAttacksSourceCol, .sourceCol {
    width: 27%;
}
#latestAttacksDestCol, .destCol {
    width: 27%;
}
.timeCol, .destCol, .sourceCol, .attackCol {
    overflow: hidden;
    text-overflow: ellipsis;
}
.targetIcon, .attackerIcon {
    width: 30px;
    height: 33px;
    float: left;
    margin-right: 10px;
}
.attackerIcon {
    background-image: url("../images/SquarePin.png");
}
.targetIcon {
    background-image: url("../images/RoundedPin.png");
}
#countryDrillDownContainer > div {
    padding: 7px 10px;
    color: #fff;
    border-width: 1px 0px 1px 0px;
}
.pinkGradient {
    background: #86224B;
    background: -webkit-linear-gradient(#9e2b58, #450b27);
    /* For Safari 5.1 to 6.0 */
    
    background: -o-linear-gradient(#9e2b58, #450b27);
    /* For Opera 11.1 to 12.0 */
    
    background: -moz-linear-gradient(#9e2b58, #450b27);
    /* For Firefox 3.6 to 15 */
    
    background: linear-gradient(#9e2b58, #450b27);
    /* Standard syntax */
    
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#9e2b58', endColorstr='#450b27');
}
.modalCloseBtn {
    background-image: url("../images/x.png");
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
}
.modalCloseBtn .fa {
    font-size: 17px;
    margin-left: 8px;
    margin-top: 5px;
    cursor: pointer;
    color: black;
}
.modalCloseBtn .fa:hover {
    color: white;
}
strong {
    font-weight: bold;
}
#countryDrillDownContainer {
    background-color: rgba(26, 16, 22, 0.9);
    width: 245px;
    box-shadow: none;
    font-family: 'din', arial;
    z-index: 0;
    height: auto;
    opacity: 0;
    position: absolute;
    border-width: 2px;
    text-align: left;
}
#countryDrillDownContainer.active {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    opacity: 1;
    z-index: 999999;
}
#map svg {
    cursor: pointer;
}
#threatStatsContainer {
    height: auto;
}
#threatStatsContainer canvas {
    padding: 0px 0px 0px 0px;
}
#timeSpanFilterContainer > div {
    float: left;
    margin-right: 10px;
    padding: 5px 23px;
    background: url("../images/GreyBtn1px.png") 0px 0px repeat-x;
    cursor: pointer;
    font-size: 0.7em;
}
#timeSpanFilterContainer > div.active {
    background: url("../images/PinkButton1px.png") 0px 0px repeat-x;
}
#countryDrillDownContainer strong {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    font-size: 0.7em;
}
#mostAttackingCountryContainer #frequentAttackingCountryTxt {
    display: block;
    margin-top: 5px;
}
.clearfix {
    clear: both;
}
#countryDrillDownContainer span.sectionHeadline {
    font-size: 0.8em;
    margin: 5px 0px 5px 0px;
    display: block;
}
nav>.container, .ng-scope .container {
    width: 100% !important;
    max-width: 100%;
}
.ng-enter, .ng-leave, .ng-move {
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;
    -webkit-transition-property: all !important;
    transition-property: all !important;
    position: relative;
}
#latestAttacksContainer .ng-enter {
    opacity: 0;
}
#latestAttacksContainer .ng-enter.ng-enter-active {
    opacity: 1;
}
#latestAttacksContainer .ng-leave.ng-leave-active {
    opacity: 0;
}
#latestAttacksContainer .ng-move {
    opacity: 0.5;
}
#latestAttacksContainer .ng-move.ng-move-active {
    opacity: 1;
}
#spacerRow div {
    line-height: 6px;
}
#latestAttacksContainerLeft #tableContainer {
    display: table;
    width: 100%;
}
#latestAttacksContainerLeft #tableHeaderRow {
    display: table-row;
}
#latestAttacksContainerLeft #tableHeaderRow div {
    color: #e45785;
}
.attackRow {
    display: table-row;
    position: relative;
}
.attackRow .attackContainer {
    display: block;
    max-width: 300px;
}
.attackRow p {
    overflow: hidden;
    text-overflow: ellipsis;
}
.attackRow div, #latestAttacksContainerLeft #tableHeaderRow div {
    display: table-cell;
    font-size: 0.8em;
    padding: 2px 10px;
}
.attackRow div {
    padding: 1pt 10px;
    opacity: 0;
}
.malwareContainer {
    font-size: 13px;
    text-align: left;
    position: relative;
    line-height: 20px;
    width: 100%;
    float: left;
}
.malwareContainer .ng-enter {
    opacity: 1 !important;
    width: 0% !important;
}
.malwareContainer .ng-enter-active {
    width: 100% !important;
    -webkit-transition-property: width !important;
    transition-property: width !important;
    transition-duration: 2s;
    -webkit-transition-duration: 2s;
}
#countryDrillDowntitleContainer {
    cursor: move;
    font-size: 0.9em;
}
.malwareGraph {
    width: 185px;
    float: left;
    position: relative;
}
.malwareGraph .graph {
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
}
.malwareNameContainer {
    border-bottom-width: 1px;
    text-align: center;
    position: relative;
    text-align: center;
}
.malwareContainer:first-child .malwareNameContainer {
    border-top-width: 1px;
}
.malwareValueContainer {
    float: left;
    width: 20px;
    text-align: center;
    font-size: 12px;
    margin-left: 3px;
}
#malwaresContainer {
    margin-top: 10px;
}
.chartsContainer {
    line-height: 60px;
    font-size: 20px;
}
.chartsContainer canvas {
    float: left;
    margin-right: 5px;
}
.corner {
    width: 50px;
    height: 50px;
    border-right: 1px solid #63233d;
    transform: rotate(219deg);
    position: absolute;
    background-color: black;
    right: 0px;
    bottom: 0px;
    right: -29px;
    bottom: -23px;
}
.fa-times:hover {
    color: white;
}
#mobileTopStatsRow {
    display: none;
    background-color: black;
    padding: 0px 15px;
    position: relative;
}
#mobileStatsContainer #AttacksCountContainer {
    padding: 7px;
    border-bottom-width: 1px;
    float: left;
}
#mobileStatsContainer #AttacksCountContainer h4 {
    font-size: 1.625em;
    font-family: 'dinLight';
}
#mobileStatsContainer #AttacksCountContainer h4 strong,#mobileStatsContainer #AttacksCountContainer h2 strong {
    margin-top: 5px;
    font-size: 1.38em;
    display: block;
    font-weight: bold;
    font-family: 'dinBold';
}
#mobileStatsContainer #topStatsContainer {
    float: right;
    padding: 7px;
    line-height: 15px;
    color: #fff;
}
#mobileStatsContainer #topStatsContainer .fa {
    margin-right: 2px;
}
#mobileStatsContainer .countryList {
    border-width: 1px 1px 0px 1px;
}
#mobileStatsContainer .countryList li {
    border-bottom-width: 1px;
    color: white;
    padding: 5px;
}
.mobileTopStats .mobileStatsContainer {
    display: none;
    position: absolute;
    width: 13em;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999999;
}
.mobileTopStats.active .mobileStatsContainer {
    display: block;
}
#MobileIconsLegend {
    display: none;
    border-width: 1px;
    float: left;
    color: #fff;
    padding: 5px 5px 10px 5px;
    bottom: 0px;
}
#MobileIconsLegend img {
    width: 15px;
    margin-right: 5px;
    position: relative;
    top: 5px;
}

.countryHover {
	font-size: 10pt;
	font-family: din;
	color: #e45785;
	padding: 4px;
	background-color: #FFF;
}
#promotionBox {
	width: 280px;
	height: 80px;
	padding: 25px 14px;
	background: url('../images/box-280-80.png') 0px 0px no-repeat;
	color: white;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
#externalLinks {
	position: absolute;
	right: 15px; /* Should be 0, but need to offset the 15 pixels that are outside the screen */
	z-index: 999999;
}
#externalLinks>* {
	margin-right: 30px; /* Spacing between items */
	display: inline-block;
	float: right;
}
#externalLinks>a, #externalLinks>a:hover, #externalLinks>a:visited, #externalLinks>a:active {
	color: white;
	text-decoration: none;
}
#externalLinks>a:hover {
	text-decoration: underline;
}