/* Large screens --  --  --  --  -- - */

@media only screen and (min-width: 1824px) {
    /* Styles */
}
/* Desktops and laptops --  --  --  --  -- - */

@media only screen and (max-width: 1370px) {
    #latestAttacksTimeCol {
        width: 11%;
    }
    #latestAttacksAttackCol {
        width: 35%;
    }
    #latestAttacksSourceCol {
        width: 27%;
    }
    #latestAttacksDestCol {
        width: 27%;
    }
    .attackRow .attackContainer {
        max-width: 15.625em;
    }
    #latestAttacksContainerLeft {
        border-width: 1px;
    }
    #latestAttacksContainerLeft {
        width: 44.375em;
    }
}

@media only screen and (max-width: 1170px) {
	#latestAttacksContainer #latestAttacksContainerRight {
    	display: none;
    }
}
/* iPads (landscape) --  --  --  --  -- - */

@media only screen and (max-width: 1024px) {
    #verticalCol {
        width: 15em;
    }
    #mapContainer {
        padding-left: 15em;
    }
    #titleLogo {
        margin: 0px;
    }
    #titleContainer {
        line-height: 1.875em;
    }
    #titleRow {
        padding-left: 15px;
    }
    #latestAttacksContainerLeft {
        width: 42em;
    }
    #titleContainer #titleText {
        padding-left: 10px;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}
@media only screen and (max-width: 850px) {
    #titleContainer #titleText {
        text-align: center;
        width: 100%;
        padding: 0px;
        padding-left: 0px;
    }
    body {
        font-size: 10px;
    }
    #countryDrillDownContainer {
        display: none;
    }
    #titleContainer {
        letter-spacing: 0px;
    }
    #latestAttacksContainerLeft {
        width: 100%;
    }
    #verticalCol {
        display: none;
    }
    #mapContainer {
        padding: 0px 0px 140px 0px;
    }
    #middleContainer #map {
        top: 0em;
    }
    #spacerRow {
        display: none;
    }
    #latestAttacksContainer {
        width: 100%;
        bottom: 10px;
        right: 0px;
    }
    #middleContainer {
        padding-bottom: 0px;
    }
}
/* Smartphones (portrait only) ----------- */

@media only screen and (max-width: 770px) and (orientation: portrait) {
	#logoContainer {
		margin: 0px 0px 0px 10px
	}
    #mobileTopStatsRow {
        display: block;
        height: 165px;
    }
    #middleContainer {
        padding-bottom: 165px;
    }
    #MobileIconsLegend {
        display: inline-block;
        float: none;
        position: absolute;
        bottom: 0px;
        left: 15px;
    }
    #externalLinks {
		bottom: 0px;
		right: 0px;
    }
    #promotionBox {
    	font-size: 12px;
    	padding: 18px 9px;
    	height: 60px;
    	width: 220px;
    	background: url('images/box-220-60.png') 0px 0px no-repeat;
    }
	#externalLinks>* {
		margin-right: 15px; /* Spacing between items */
	}
}

/* Smartphones (landscape only) ----------- */

@media only screen and (max-height: 610px) and (orientation: landscape) {
	#externalLinks {
	    display: none;
    }
}