* {
    font-family: "Exo 2";
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    padding-top: 53px;
    min-height: 100%;
}
h4 {
    margin: 0;
}
h1 {
    font-size: 80px;
}
.panel-title a {
    cursor: pointer;
}
.wrapper {
    min-height: 100%;
    position: relative;
}
.cpLogo {
    background: url('../images/image_map.png') no-repeat;
    background-position: -190px -257px;
    height: 40px;
    z-index: 2;
    width: 143px;
    display: block;
}
.cpLogo.homepage {
    position: absolute;
    top: 16px;
    right: 16px;
}
.tcLogo {
    background: url('../images/image_map.png') no-repeat;
    background-position: -345px -245px;
    height: 50px;
    z-index: 2;
    margin-top: 16px;
    margin-left: 16px;
    top: -18px;
}
.statsMapBg2 {
    /*  background: url('../images/map_bg.png'); */
    
    background-color: #1a1c22;
}
.selectedFilterBox {
    background: url('../images/image_map.png') no-repeat;
    background-position: -216px -514px;
    height: 35px;
    width: 35px;
    border: 0;
}
.collapseFilter {
    width: 440px;
}
.collapseFilter section {
    margin-top: 10px;
    color: #84878F;
    display: none;
}
.collapseFilter section.opened {
    display: block;
}
.collapseFilter header {
    cursor: pointer;
    color: #84878F;
    padding-left: 10px;
}
/* Custom container */

.container-full {
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.container-full a {
    color: #efefef;
    text-decoration: none;
}
.content-wrapper {
    width: 960px;
    margin: 0 auto;
}
td.content-wrapper {
    background: url('../images/bg_image.png') no-repeat;
    background-position: center center;
    vertical-align: middle;
}
.section-search .searchBox {
    border: 0 none;
    border-radius: 0;
    color: #333333;
    font-size: 18px;
    height: 40px;
    padding: 0 0 0 16px;
}
.section-search .input-group {
    background: none repeat scroll 0 0 #FFFFFF;
    text-align: center;
    min-width: 200px;
    max-width: 780px;
    width: 100%;
    margin: auto;
}
.file {
    background: url("../images/file.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    border-right: 1px dashed #CECECE;
    height: 26px;
    margin-right: 8px;
    width: 18px;
}
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 960px;
    -webkit-box-shadow: 2px 2px 2px 2px #4375CA;
    box-shadow: 2px 2px 2px 2px #4375CA;
    background-color: #5099f3;
    z-index: 10;
}
.top-bar .content-wrapper {
    width: 960px;
}
.top-bar .tcLogo {
    float: left;
    position: static;
    top: auto;
    width: 133px;
    margin-top: 0;
    margin-left: 0;
    background-position: -352px -245px
}
.top-bar .section-search {
    float: right;
    margin-top: 12px;
    max-width: 740px;
    width: 100%;
}
.top-bar .section-search .searchBox {
    height: 30px;
}
.top-bar .section-search .input-group {
    margin: 0;
}
.top-bar .section-search .button1 {
    height: 26px;
    line-height: 4px;
}
.top-bar .menu {
    float: left;
    margin-top: 16px;
    margin-right: 25px;
    width: 190px;
}
.menu a {
    font-size: 13px;
    font-family: "Exo 2";
    color: rgb(230, 239, 255);
    /*  color: rgb(160, 203, 255);
    font-size: 15px;    */
    
    display: inline-block;
    border-right: 1px dotted rgb(230, 239, 255);
    padding-right: 7px;
    margin-right: 5px;
}
.menu a:hover {
    font-weight: bold;
    text-decoration: none;
}
.menu a::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
    margin-bottom: -1px;
}
.menu a:last-child {
    border: 0 none;
    margin-right: 0;
}
/*
.menu a:hover,
*/

.menu a.selected {
    color: white;
    font-weight: bold;
}
.statistics-top-bar {
    background: none repeat scroll 0 0 #20242D;
    height: 53px;
    left: 0;
    position: fixed;
    top: 53px;
    width: 100%;
    z-index: 10;
}
.statistics-top-bar .content-wrapper {
    width: 960px;
}
.filterByDate {
    height: 30px;
    width: 150px;
    float: right;
}
.statistics-top-bar .menu {
    display: inline-block;
    margin: 16px 0 0 150px;
    width: 586px;
}
.statistics-top-bar .dropdown {
    margin-top: 12px;
}
.dropdown .caption {
    cursor: pointer;
    height: 25px;
}
.dropdown.open .caption {
    border: 1px solid #CD8F64;
}
.dropdown .caption .title {
    color: #84878F;
    display: inline-block;
    margin-left: 10px;
    margin-top: 2px;
}
.dropdown .caption .arrow {
    background: url("../images/arrows.gif") no-repeat;
    width: 8px;
    height: 5px;
    float: right;
    margin: 11px 6px 0 0;
}
.dropdown.open .dropdown-menu {
    background: #20242D;
    border: 1px solid #394052;
    border-radius: 0;
    box-shadow: none;
    margin-top: 8px;
}
.dropdown-menu > li > a {
    color: #A9ABB3;
    margin: 0 2px;
    padding: 3px 7px;
    cursor: pointer;
}
.dropdown-menu li a:hover {
    color: #CD8F64;
    border: 1px solid #CD8F64;
    background: transparent;
}
.world {
    cursor: pointer;
    float: left;
    height: 25px;
    margin-top: 14px;
    width: 28px;
}
.world span {
    background: url("../images/image_map.png") no-repeat scroll -38px -518px rgba(0, 0, 0, 0);
    display: block;
    height: 100%;
    margin: 0 auto;
    width: 28px;
}
.world.open {
    border: 1px solid #CD8F64;
}
.chart {
    cursor: pointer;
    float: left;
    height: 25px;
    margin-left: 7px;
    margin-top: 14px;
    width: 28px;
}
.chart span {
    background: url("../images/image_map.png") no-repeat scroll -78px -517px rgba(0, 0, 0, 0);
    display: block;
    height: 100%;
    margin: 0 auto;
    width: 19px;
}
.chart.open {
    border: 1px solid #CD8F64;
}
.filterByDate {
    border-right: 1px solid;
    float: right;
    height: 30px;
    margin-right: 5px;
    padding-right: 5px;
    width: 150px;
}
.dateFilter {
    background: url("../images/image_map.png") no-repeat scroll -149px -522px rgba(0, 0, 0, 0);
    border: 0 none;
    display: inline-block;
    height: 18px;
    margin: 3px 0 0 6px;
    padding: 0;
    vertical-align: top;
    width: 19px;
}
.funnelFilter {
    float: right;
    height: 30px;
    padding: 0;
    width: 45px;
}
.funnelFilter .dropdown-menu {
    margin-left: -405px;
}
.funnelIcon {
    background: url("../images/image_map.png") no-repeat scroll -189px -522px rgba(0, 0, 0, 0);
    border: 0 none;
    height: 19px;
    padding: 0;
    vertical-align: middle;
    width: 16px;
    margin-left: 5px;
}
.funnelIcon.selected {
    background-position: -220px -522px;
}
.dropdown-menu .footer-buttons {
    padding: 10px;
    text-align: right;
}
.panel-title {
    font-size: 14px;
}
.red {
    color: #F83232;
}
.statistics-legend {
    background: url("../images/statistics_legend.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 85px;
    position: absolute;
    left: 0;
    top: 575px;
    width: 95px;
}
.malware {
    padding: 6px;
}
.malware .title a {
    font-size: 28px;
}
.malware .value {
    color: #428BCA;
}
.risk {
    padding: 0 3px;
}
.risk.risk-1 {
    background-color: #70AD41;
    border: 1px solid #507A31;
}
.risk.risk-2 {
    background-color: #F5BA44;
    border: 1px solid #A98159;
}
.risk.risk-3 {
    background-color: #FF9100;
    border: 1px solid #B47A28;
}
.risk.risk-4 {
    background-color: #EF5042;
    border: 1px solid #871D1D;
}
.risk.risk-5 {
    background-color: #BB0000;
    border: 1px solid #871D1D;
}
.paging {
    padding: 50px 0;
    text-align: center;
}
.results-title {
    padding: 26px 0px 5px 6px;
    font-style: italic;
}
.top-wrapper {
    position: relative;
    width: 100%;
}
.top-wrapper .right {
    position: absolute;
    right: 16px;
    top: 16px;
}
.top-wrapper .center {
    width: 960px;
    margin: auto;
}
.top-wrapper .left {
    float: left;
    display: block;
    position: relative;
}
.drop-scroll {
    overflow-y: scroll;
    max-height: 450px;
    width: 460px;
}
@media all and (max-width: 1290px) {
    .top-bar .section-search {
        max-width: 450px;
    }
    .top-wrapper .center {
        padding-right: 140px;
        padding-left: 140px;
    }
}
@media all and (max-height: 630px) {
    .dropdown-menu .footer-buttons {
        padding: 10px;
        text-align: right;
        position: absolute;
        top: 0;
        right: 20px;
    }
}
::-webkit-input-placeholder {
    color: #ACAEAB;
    font-style: normal;
}
::-moz-placeholder {
    color: #ACAEAB;
    font-style: normal;
}
/* FireFox 19+ */

:-ms-input-placeholder {
    color: #ACAEAB;
    font-style: normal;
}
/* IE */

#searchQueryHome:-ms-input-placeholder {
    color: #ACAEAB;
    font-style: normal;
}
/* IE (dealing with specificity) */

#searchQueryTop:-ms-input-placeholder {
    color: #ACAEAB;
    font-style: normal;
}
/* IE (dealing with specificity) */
/*-----------------------------------------------------------------------------*/

.portal-bg {
    padding-top: 0px;
    background: #40a0e9;
    background-image: url("../images/home_pattern_70.png");
    /* fallback */
    
    background-image: url("../images/home_pattern_70.png"), -webkit-gradient(linear, left top, left bottom, from(#318AE5), to(#50B8ED));
    /* Saf4+, Chrome */
    
    background-image: url("../images/home_pattern_70.png"), -webkit-linear-gradient(top, #318AE5, #50B8ED);
    /* Chrome 10+, Saf5.1+ */
    
    background-image: url("../images/home_pattern_70.png"), -moz-linear-gradient(top, #318AE5, #50B8ED);
    /* FF3.6+ */
    
    background-image: url("../images/home_pattern_70.png"), -ms-linear-gradient(top, #318AE5, #50B8ED);
    /* IE10 */
    
    background-image: url("../images/home_pattern_70.png"), -o-linear-gradient(top, #318AE5, #50B8ED);
    /* Opera 11.10+ */
    
    background-image: url("../images/home_pattern_70.png"), linear-gradient(to bottom, #318AE5, #50B8ED);
    /* W3C */
}
.portal-header-bg {
    background-color: #1879DA;
    background-image: url("../images/home_pattern_70.png");
    background-position: 0px -50px;
}
.portal-inner-bg {
    height: 100%;
    background-image: url("../images/inner_page_pattern.png");
    background-color: #1E2435;
}
.tp-logo {
    background: url("../images/tc_logo.png") no-repeat;
    height: 46px;
    margin: 0 auto 29px;
    width: 271px;
}
.header1 {
    font-size: 14px;
    font-family: "Exo 2";
    color: rgb(205, 143, 100);
    margin-top: 27px;
    margin-bottom: 9px;
}
.body1 {
    font-size: 12px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
}
.special1 {
    font-size: 12px;
    font-family: "Exo 2";
    color: rgb(255, 203, 94);
}
.search1 {
    font-size: 16px;
    font-family: "Open Sans";
    color: rgb(172, 174, 171);
}
.button1 {
    font-size: 20px;
    font-family: "Exo 2";
    color: rgb(255, 255, 255);
    background: none repeat scroll 0 0 #FF9F39;
    border: 0 none;
    border-bottom: 3px solid #E58F33;
    width: 90px;
    height: 36px;
    line-height: 16px;
    padding-top: 9px;
}
.button1:hover {
    background-color: #FF8300;
    border-color: #E57600;
}
.button1:active {
    background-color: #D67C1D;
    border-bottom: 0px;
}
.button2 {
    padding-top: 1px;
    font-size: 16px;
    font-family: "Exo 2";
    font-weight: 600;
    color: rgb(255, 255, 255);
    height: 26px;
    width: 88px;
    background: none repeat scroll 0 0 #3A94EA;
    border: 0 none;
    border-bottom: 3px solid #3485D2;
}
.button2:hover {
    background-color: #0082FF;
    border-color: #0075E5;
}
.button2:active {
    background-color: #2171BE;
    border-bottom: 0px;
}
.paragraph-text {
    font-family: "Open Sans";
    font-size: 13px;
    color: rgb(51, 51, 51);
    margin-bottom: 15px;
}
.paragraph-text-small, .paragraph-text-small * {
    font-family: "Open Sans";
    font-size: 12px;
    color: rgb(51, 51, 51);
}
.paragraph-title {
    font-family: "Exo 2";
    font-size: 15px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    margin-bottom: 3px;
}
.page-title {
    font-size: 30px;
    font-family: "Exo 2";
    color: rgb(231, 164, 114);
    line-height: 39px;
    padding-top: 7px;
    padding-bottom: 9px;
    word-break: break-word;
}
.page-subtitle {
    font-size: 19px;
    font-family: "Arvo";
    color: rgb(124, 124, 124);
    line-height: 30px;
    padding-bottom: 23px;
}
.descriptive, .search-result-details p::first-line {
    font-size: 11px;
    font-family: "Open Sans";
    color: rgb(231, 164, 114);
}
.search-result-time {
    padding-top: 17px;
    border-bottom: 1px solid #D5D9E1;
    line-height: 10px;
}
.ticker-description {
    font-size: 13px;
    font-family: "Exo 2";
    color: rgb(161, 162, 165);
}
.ticker-precentage {
    font-size: 18px;
    font-family: "Exo 2";
    font-style: italic;
    font-weight: bold;
    color: rgb(161, 162, 165);
}
.ticker-title {
    font-size: 18px;
    font-family: "Exo 2";
    color: rgb(161, 162, 165);
}
#middleContainer .container {
    overflow: auto;
}
.container {
    min-height: 100%;
}
.line-background {
    background-image: url("../images/line.png");
    background-repeat: repeat-y;
    background-position: 58%;
}
@media all and (max-width: 992px) {
    .line-background {
        background: transparent;
    }
}
.white-line-background {
    background-image: url("../images/line_white.png");
    background-position: 58% 0;
    background-repeat: no-repeat;
}
.footer {
    height: 180px;
    background-color: #1E2435;
    -webkit-box-shadow: 0px 2px 3px 0px #000000;
    box-shadow: 0px 2px 3px 0px #000000;
}
.external-links a {
    font-size: 12px;
    color: #CD8F64;
}
.external-links {
    list-style-type: none;
    padding: 0px;
}
/** new changes **/

#mainPageButtonGroup > .button1 {
    /* GO & Upload buttons on Homepage search box */
    /*
    z-index: 2; 
    left: -197px;
    top: 2px;
    padding-top: 9px;
    position: relative;
    vertical-align: baseline;
*/
}
#mainPageButtonGroup {
    width: 780px;
}
#mainPageButtonGroup > .button1, .buttonSpacing, #scanFileButtonDiv {
    /* GO & Upload buttons on Homepage search box */
    
    z-index: 2;
    position: absolute;
    left: 100%;
    margin-left: -92px;
    top: 2px;
    display: inline-block;
}
.buttonSpacing {
    margin-left: -103px;
    height: 29px;
}
#scanFileButtonDiv {
    cursor: pointer;
    width: 100px;
    margin-left: -212px;
    top: 0px;
    margin-top: 8px;
}
#scanFileButtonDiv span {
    font-size: 16px;
    color: #FF9F39;
    position: relative;
    margin: 0px;
    top: -4px;
    padding-left: 8px;
}
input#uploadFile {
    padding-left: 3px;
}
#uploadButton {
    background: none repeat scroll 0 0 #3A94EA;
    border-bottom: 3px solid #3485D2;
}
#uploadButton:hover {
    background-color: #0082FF;
    border-color: #0075E5;
}
#uploadButton:active {
    background-color: #2171BE;
    border-bottom: 0px;
}
.uploadFileIcon {
    width: 18px;
    height: 23px;
    background-image: url("../images/upload_icon.png");
}
.add-on .input-group-btn > .button2 {
    /* GO button on Navbar search box */
    
    z-index: 2;
    position: absolute;
    left: -90px;
    top: 6px;
}
#frmSearch {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: static;
    margin-bottom: 0px;
}
#searchQueryTop {
    font-size: 16px;
    font-family: "Open Sans";
    color: #333333;
    padding: 3px 100px 3px 12px;
    vertical-align: top;
}
#searchQueryHome {
    height: 40px;
    width: 780px;
    padding-left: 12px;
    padding-right: 215px;
    color: #333333;
}
#searchQueryHome_contour {
    height: 50px;
    border-radius: 4px;
    border: 5px solid rgba(255, 255, 255, .14);
    -webkit-background-clip: padding-box;
    /* for Safari */
    
    background-clip: padding-box;
    /* for IE9+, Firefox 4+, Opera, Chrome */
}
#tcLogo {
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 11px 14px 0px 0px;
}
#cpLogo {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 15px 0px 0px 15px;
}
.form-control {
    border: none;
}
.navbar-default .navbar-nav>li>a {
    padding: 15px 7px;
    font-size: 13px;
    font-family: "Exo 2";
    color: rgb(230, 239, 255);
    background: transparent;
    top: -6px;
}
.navbar-default .navbar-nav>li>a:hover {
    font-size: 13px;
    font-family: "Exo 2";
    color: rgb(230, 239, 255);
    font-weight: bold;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav > .active > a:focus {
    font-size: 13px;
    font-family: "Exo 2";
    color: rgb(230, 239, 255);
    font-weight: bold;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    filter: none;
}
.navbar-default .navbar-nav>li>a::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
    margin-bottom: -1px;
}
/* Adjusting colors on navbar toggle button */

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgb(255, 255, 255);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(115, 115, 115);
}
#linkBorderRight {
    /* Dotted separator between "Blogs" and "Statistics" */
    
    position: absolute;
    left: 40px;
    top: 14px;
    height: 12px;
    border-right: 1px dotted rgb(230, 239, 255);
}
/* Fix max-width on containers (for blogs, etc.) */

nav>.container, #searchContainer {
    max-width: 1000px;
}
/* Fix padding around searchbox in Navbar */

.navbar>.container {
    padding-left: 0px;
    padding-right: 0px;
}
/* Getting rid of dotted outline on clicked links in FireFox and IE8 */

:focus {
    outline: 0 none !important;
}
::-moz-focus-inner {
    border: 0 !important;
}
/* Inner shadow under the Navbar */

.navbar-default {
    box-shadow: 0px 2px 0px #1465b5;
}
/* Fix Bootstrap's logo placement */

.navbar>.container .navbar-brand {
    margin-left: 0px;
}
/* Align homepage search-box to position */

#searchbox_div_homepage {
    padding: 0px;
    margin: 0px;
    width: 780px;
    position: relative;
    left: 50%;
    margin-left: -390px;
    /*correction for ~left: 50%~ field, exactly half of the div's width */
}
/* Inner shadow on main part of homepage (above footer) */

#td_homepage_main {
    position: relative;
    z-index: 10;
    -moz-box-shadow: -10px 3px 4px #000;
    -webkit-box-shadow: -10px 3px 4px #000;
    box-shadow: -10px 3px 4px #000;
    border-collapse: separate;
    /* needed for box-shadow on IE */
}
/* Adjustments for footer on homepage */

#footer_container {
    position: relative;
    left: 5px;
    width: 790px;
    display: block;
    padding: 0px 18px;
    text-align: left;
}
#footer_container>.footer_box {
    position: relative;
    float: left;
    display: inline-block;
    width: 300px;
    margin: 0px;
    min-height: 120px;
}
#footer_container>.footer_box_small {
    width: 145px;
}
.footer_box_small>.header1 {
    color: rgb(161, 162, 165);
}
#heightAdjustedDiv {
    margin: -105px auto 0px auto;
    height: 205px;
}
.emulation-report-ellipsis {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#emulationMainContainer {
    padding-left: 42px;
    padding-right: 42px;
}
/* Very small displays - collapse the Navbar */

@media (max-width: 767px) {
    button.navbar-toggle {
        position: relative;
        margin-right: 150px;
    }
    #searchQueryTop {
        position: absolute;
        left: 50%;
        margin-left: -235px;
        width: 470px;
        top: 4px;
    }
    #searchbox_div_homepage .input-group-btn {
        width: 100%;
    }
    #searchQueryHome {
        width: 420px;
        padding-right: 95px;
    }
    #searchbox_div_homepage {
        width: 420px;
        margin-left: -210px;
        /*correction for ~left: 50%~ field, exactly half of the div's width */
    }
    #mainPageButtonGroup > .button1, .buttonSpacing {
        /* Adjustments for main page GO button */
        
        position: absolute;
        /*left: 209px;*/
        
        left: 100%;
        margin-left: -92px;
    }
    #scanFileButtonDiv, .buttonSpacing {
        display: none;
    }
    .add-on .input-group-btn > .button2 {
        position: relative;
        left: 189px;
        top: 6px;
    }
    /* Offset for negative margin on navbar elements */
    
    #frmSearch > div > div {
        margin-left: 15px;
    }
    .navbar-collapse.in {
        height: 108px;
        background-color: #1879DA;
        background-image: url("../images/home_pattern_70.png");
        /*      background-position: 0px -50px;
        border-top: none;   */
        
        overflow: hidden;
        box-shadow: 0px 2px 0px #1465b5;
    }
    #navbar_ul {
        position: absolute;
        left: 50%;
        margin-left: -150px;
        top: 39px;
        width: 300px;
        margin-top: 0px;
        margin-bottom: 0px;
        display: block;
        text-align: center;
    }
    .navbar_page_link, .nav>li {
        display: inline-block;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 15px 5px;
        /*display:block;/*
    /*
    top: 0px;*/
    }
    #linkBorderRight {
        padding-left: 1px;
    }
}
/* Tiny displays - collapse the Navbar */

@media (max-width: 500px) {
    #searchQueryTop {
        margin-left: -150px;
        width: 300px;
        top: 4px;
    }
    .add-on .input-group-btn > .button2 {
        /* Adjustments for navbar GO button */
        
        left: 104px;
    }
    #mainPageButtonGroup > .button1, .buttonSpacing {
        /* Adjustments for main page GO button */
        
        position: absolute;
        /*left: 209px;*/
        
        left: 50%;
        width: 150px;
        margin-left: -75px;
        top: 50px;
    }
    #scanFileButtonDiv, .buttonSpacing {
        display: none;
    }
    #searchbox_div_homepage .input-group-btn {
        width: 100%;
    }
    #searchQueryHome {
        width: 300px;
        padding-right: 12px;
    }
    #searchbox_div_homepage {
        width: 310px;
        margin-left: -155px;
        /*correction for ~left: 50%~ field */
    }
    #search-results-tabs li {
        float: none;
        display: block;
    }
    .page-title {
        font-size: 24px;
    }
}
/* Small displays - Don't collapse the Navbar, but make it smaller */

@media (min-width: 768px) and (max-width: 991px) {
    #searchQueryTop {
        width: 370px;
        top: -16px;
    }
    /* Fix max-width on containers (for blogs, etc.) */
    
    nav>.container, #searchContainer {
        max-width: 680px;
    }
    .navbar>.container {
        margin-left: 148px;
    }
    #searchQueryHome {
        width: 680px;
    }
    #searchbox_div_homepage {
        width: 680px;
        margin-left: -340px;
        /*correction for ~left: 50%~ field, exactly half of the div's width */
    }
    #mainPageButtonGroup {
        width: 680px;
    }
    #mainPageButtonGroup > .button1, .buttonSpacing, #scanFileButtonDiv {
        /* GO & Upload buttons on Homepage search box */
        
        position: absolute;
        left: 100%;
        margin-left: -92px;
        display: inline-block;
    }
    .buttonSpacing {
        margin-left: -103px;
    }
    #scanFileButtonDiv {
        margin-left: -212px;
    }
}
@media (max-width: 991px) {
    .footer {
        height: auto;
        min-height: 180px;
    }
    #footer_container {
        text-align: center;
        width: auto;
        padding: 0px;
        left: 0px;
    }
    #footer_container>.footer_box {
        text-align: left;
        position: relative;
        margin: 0px auto;
        display: block;
        float: none;
    }
    #footer_container>.footer_box_small {
        left: -72px;
    }
    .emulation-report-ellipsis {
        width: 100%;
    }
}
/* Medium displays - Don't collapse the Navbar, but make it smaller */

@media (min-width: 992px) and (max-width: 1290px) {
    #searchQueryTop {
        width: 550px;
        top: -16px;
    }
    /* Fix max-width on containers (for blogs, etc.) */
    
    nav>.container, #searchContainer {
        max-width: 70%;
    }
    .emulation-report-ellipsis {
        width: 80px;
    }
    #emulationMainContainer {
        padding-left: 28px;
        padding-right: 28px;
    }
}
/* Large devices - Full size Navbar */

@media (min-width: 1291px) {
    #searchQueryTop {
        width: 767px;
        top: -16px;
    }
}
/* Adjusting footer boxes on wide displays */

@media (min-width: 992px) {
    #footer_container>.footer_box:nth-child(1) {
        width: 280px;
    }
    #footer_container>.footer_box:nth-child(2) {
        margin-left: 15px;
    }
    #footer_container>.footer_box:nth-child(3) {
        margin-left: 10px;
    }
}
/* Compensating for small device height since min-height doesn't work well */

@media (max-height: 580px) {
    #td_homepage_main {
        height: 350px;
        min-height: 350px;
    }
    #heightAdjustedDiv {
        margin: 0px auto 0px auto;
    }
}
@media (max-height: 755px) and (max-width: 991px) {
    #td_homepage_main {
        height: 350px;
        min-height: 350px;
    }
    #heightAdjustedDiv {
        margin: 0px auto 0px auto;
    }
}
.emulation-bg {
    background-image: url("../images/emulation_pattern.png");
    background-position: 3px 3px;
    background-repeat: no-repeat;
    height: 83px;
    border: 0;
}
.modal-dialog {
    width: 568px;
}
.modal {
    overflow: hidden;
}
.te-detected-icon {
    float: left;
    margin-right: 5px;
    width: 20px;
}
.malware * {
    font-family: "Open Sans";
}
.malware .search-results-title a {
    font-size: 19px !important;
    font-family: "Arvo" !important;
    color: #0086FF !important;
}
.malware .search-results-value, .malware .search-results-value * {
    color: #0086FF !important;
}
.malware .search-result-small-divider {
    padding: 0px 5px 0px 0px;
    margin: 0px 0px 0px 5px;
    border-left: 1px dotted #888;
    width: 0px;
    height: 11px;
    display: inline-block;
}
.search-results-description {
    text-align: justify;
}
/* Styling for the tab-row button in the search results page*/

.search-results-icon {
    position: relative;
    top: -3px;
    padding-right: 5px;
}
.nav-tabs>li>div {
    display: inline-block;
    padding-top: 11px;
    padding-right: 7px;
    padding-left: 0px;
    margin-right: 10px;
    height: 38px;
    border: 0px solid #FFF;
    transition: border 0.3s ease;
}
.nav-tabs li a {
    color: #333;
    display: inline-block;
}
.nav-tabs li a:hover {
    text-decoration: none;
}
.nav-tabs>li>div:hover {
    background-color: #eee;
    cursor: pointer;
}
.nav-tabs li.active div {
    border-bottom: 3px solid #FF8400;
    font-weight: 700;
}
.two-side-padding {
    padding-left: 42px;
    padding-right: 42px;
}
/* Styling for blog pages */

.blog-content img {
    /* Workaround for images in blog-articles not using img-responsive */
    
    display: block;
    max-width: 100%;
    height: auto;
}
.blog-header {
    height: 280px;
    background-color: #DADADA;
    /* Fallback for non-gradient browsers */
    
    background: linear-gradient(to right, #D673A0, #FFFFFF, #4996E2);
}
.blog-header .page-title {
    background-color: white;
    color: #FF8430;
    text-align: left;
    position: absolute;
    bottom: 0px;
    margin-bottom: 25px;
    padding: 5px 10px;
}
.blog-content p {
    font-family: "Open Sans";
    font-size: 15px;
    text-align: justify;
}
#uiViewContainer {
    height: 100%;
}
