﻿<div id="countryDrillDownContainer" ng-drag="true" ng-drag-handle="#countryDrillDowntitleContainer" ng-style="{left : position.left, top : position.top }" ng-class="{active : isVisible}" class="pinkBorder">
    <span class="modalCloseBtn" ng-click="closeClicked()">
        <i class="fa fa-times"></i>
    </span>
    <div id="countryDrillDowntitleContainer" style="background-color:#e45785;">
        <div class="flag-24-{{ countryId }}" style="margin-right:5px"></div> {{countryName}}
    </div>
    <div id="threatStatsContainer">
        <strong class="pinkText sectionHeadline" id="threatStatsTxt">THREAT STATS</strong>
        <div id="timeSpanFilterContainer">
            <div ng-class="{active : timeSpanFilter == 'Last Week'}" ng-click="changeTimeSpanFilter('Last Week')">Last Week</div>
            <div ng-class="{active : timeSpanFilter == 'Last Four Weeks'}" ng-click="changeTimeSpanFilter('Last Four Weeks')">Last Month</div>
        </div>
        <div class="clearfix"></div>
        <span class="sectionHeadline" id="avgInfectionRateTxt">Average Infection Rate</span>

        <strong ng-if="!chartData[0]" class="pinkText">No Data Found</strong>
        <div class="chartsContainer" ng-if="chartData[3] && timeSpanFilter == 'Last Week'">
            <canvas linechart options="myChartOptions" data="chartData[3]" width="145" height="66"></canvas>
            <div>
                {{chartDataAvarage[3]}}%
            </div>
            <div class="clearfix"></div>
        </div>
        <div ng-if="timeSpanFilter == 'Last Four Weeks'">
            <div class="chartsContainer" ng-if="chartData[3]">
                <canvas linechart options="myChartOptions" data="chartData[3]" width="145" height="66"></canvas>
                <div>
                    {{ chartDataAvarage[3]}}%
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="chartsContainer" ng-if="chartData[2]">
                <canvas linechart options="myChartOptions" data="chartData[2]" width="145" height="66"></canvas>
                <div>
                    {{ chartDataAvarage[2]}}%
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="chartsContainer" ng-if="chartData[1]">
                <canvas linechart options="myChartOptions" data="chartData[1]" width="145" height="66"></canvas>
                <div>
                    {{ chartDataAvarage[1]}}%
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="chartsContainer" ng-if="chartData[0]">
                <canvas linechart options="myChartOptions" data="chartData[0]" width="145" height="66"></canvas>
                <div>
                    {{ chartDataAvarage[0]}}%
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div id="mostAttackingCountryContainer">
        <span class="sectionHeadline">Most Frequent Attacking Country</span>
        <strong id="frequentAttackingCountryTxt" class="pinkText">{{ mostAttackingCountry.toUpperCase() || "No Data Found" }}</strong>
    </div>
    <div id="malwareTypesContainer">
        <span class="sectionHeadline">
            Infecting Malware Types
        </span>
        <div ng-if="!malwareTypes">
            <strong class="pinkText">No Data Found</strong>
        </div>
        <div ng-if="malwareTypes">
          <!--  <img src="https://sc1.checkpoint.com/threatcloud/images/live-map/malwareTypesScale.png"> -->
            <div id="malwaresContainer">
                <div class="malwareContainer" ng-repeat="malware in malwareTypes">
                    <div class="malwareGraph pinkBorder">
                        <div class="graph pinkGradient" inline-animation="{{ { properties: { width : (malware.count)+ '%' }, duration: 500, easing:'swing'} }}">
                        </div>
                        <div class="malwareNameContainer">
                            {{ malware.name}}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="malwareValueContainer">
                        {{malware.count}}%
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
