﻿<div id="latestAttacksContainer">
    <div id="latestAttacksContainerLeft" class="pinkBorder ">
        <div id="tableContainer">
            <div id="tableHeaderRow">
                <div id="latestAttacksTimeCol">TIME</div>
                <div id="latestAttacksAttackCol">ATTACK</div>
                <div id="latestAttacksSourceCol">ATTACKING COUNTRY</div>
                <div id="latestAttacksDestCol">TARGET COUNTRY</div>
            </div>
            <div class="attackRow" id="spacerRow">
                <div>
                    &nbsp;
                </div>
            </div>
            <!--  ng-style="{color : attack.color} -->
            <div ng-repeat="attack in latestAttacks" class="attackRow" ">
                <div class="timeCol" inline-animation="{ properties: { opacity : 1 }, duration: 500, easing:'swing'}">
                    <p>
                        {{:: date() | date: 'HH:mm:ss'}}
                    </p>
                </div>
                <div class="attackCol" inline-animation="{ properties: { opacity : 1 }, duration: 500, easing:'swing'}">
                    <p class="attackContainer">
                        {{::attack.attack}}
                    </p>
                </div>
                <div class="sourceCol" inline-animation="{ properties: { opacity : 1 }, duration: 500, easing:'swing'}">
                    <p>
                    	{{::attack.sourcecountry}}
                    </p>
                </div>
                <div class="destCol" inline-animation="{ properties: { opacity : 1 }, duration: 500, easing:'swing'}">
                    <p>
                    	{{::attack.destinationcountry}}
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div id="latestAttacksContainerRight" class="pinkBorder">
        <div>
            <div class="attackerIcon"></div><span>Attackers</span>
        </div>
        <div>
            <div class="targetIcon"></div><span>Targets</span>
        </div>

        <!--     <div class="corner hideOnIE">

        </div> -->
    </div>
</div>

