﻿<div id="verticalCol">

    <div id="verticalColInnerContainer">
        <div class="pinkBorder" id="AttacksCountContainer">
            <h3 class="pinkText">ATTACKS TODAY<br/>
            <span style="font-size: 12pt;">(since 12AM PST)</span>
        	<strong id="AttacksCountText">{{todayAttacksCount | number}}</strong></h3>
        	 <h3 class="pinkText" style="font-size: 12pt; margin-top: 5px;">ATTACKS YESTERDAY<br/>
        	<strong id="Strong1">{{yesterdayAttacksCount | number}}</strong></h3>
        </div>
        <div>
            <hr/>
            <div ng-cloak class=" TopStats" ng-class='{"active":tog==1}' id="TopTargetCountriesContainer">
                <div class="TopStatsLabel" ng-click='tog = (tog==1 ? null : 1)'>
                    <i ng-if="tog!=1" class="fa fa-chevron-down fa-1"></i>
                    <i ng-if="tog==1" class="fa fa-chevron-up fa-1"></i>
                    <h3>
     
         TOP TARGET COUNTRIES</h3>
                </div>
                <div class="statsContainer">
                    <ul class="countryList">
                        <li ng-click="countryClicked(country)" ng-repeat="country in topTargets">
                            <div class="flag-24-{{ country }}" style="margin-right:5px"></div>
                            {{::country| toCountryName}}
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <hr/>
            <div ng-cloak class=" TopStats" ng-class='{"active":tog==2}' id="TopAttackerCountriesContainer">
                <div class="TopStatsLabel" ng-click='tog = (tog==2 ? null : 2)'>
                    <i ng-if="tog!=2" class="fa fa-chevron-down fa-1"></i>
                    <i ng-if="tog==2" class="fa fa-chevron-up fa-1"></i>
                    <h3>
      
          TOP ATTACKING COUNTRIES
          </h3>
                </div>

                <div class="statsContainer ">
                    <ul class="countryList">
                        <li ng-click="countryClicked(country)" ng-repeat="country in topAttackers">
                            <div class="flag-24-{{ country }}" style="margin-right:5px"></div>
                            {{::country | toCountryName}}
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <hr/>
        </div>
    </div>
    <div style="clear:both;">

    </div>

</div>

